:root {
    --main-bg-color: #f1f3f4;
    --bold-color: #512b58;
    --main-color: #79bac1;
    --bold-main-color: #2a7886;
}
html, body {
    height: 100% !important;
}
body {
    background-color: var(--main-bg-color) !important;
    /*height: 100vh;*/
}
#root, #body-container{
    height: 100%;
}
.nav_main {
    background-color: var(--bold-color);
}
.nav_text{
    font-family: 'Potta One', cursive;
    font-size: 200% !important;
    color: var(--main-bg-color) !important;
}
.nav_side {
    background-color: var(--bold-main-color);
    /*height: 100% !important;*/
}

#main-body{
    /*height: 100vh;*/
}

#body-container{
    /*height: 100vh;*/
}
.components, #components-title, .tool-button, .label-text{
    font-family: 'Open Sans', sans-serif;
    color: var(--main-bg-color);
}

#components-title{
    border-bottom: var(--main-color) groove 2px;
}

.components{
    cursor: pointer;
}

.tool-bar-container{
    background-color: var(--main-color);
}

.tool-button{
    background-color: var(--bold-color);
    box-shadow: 3px 5px 1px var(--bold-main-color);
}
.tool-button:hover{
    color: var(--main-color);
}
#title{
    font-size: 100%;
}

.intro-text{
    font-size: x-large;
    font-family: 'Potta One', cursive;
    color: var(--main-bg-color);
    text-shadow: 0 0 10px var(--bold-main-color);

}
#sample-page{
    width: 70%;
    background-color: var(--main-bg-color);
}

main {
    width: 70% !important;
}